:root{
    --font-family-1: "Lexend Deca", sans-serif; 
     --font-family-2: "Big Shoulders", sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;

}
.container{
    max-width:900px;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
    border-radius:8px;
    overflow: hidden;
}
.box{
    padding:45px ;
    
}
 .box-1{
    background-color: hsl(31, 77%, 52%) ;
}
.box-2{
    background-color:hsl(184, 100%, 22%);
}
.box-3{
    background-color:hsl(179, 100%, 13%);
}
img{
  margin-bottom:25px;
}
h1{
    font-family:var(--font-family-2);
    text-transform: uppercase;
    color:white;
    margin-bottom:25px ;
}
p{
    font-family: var(--font-family-1);
    color:rgba(255, 255, 255, 0.758);
    font-size:15px;
    line-height:1.8;
    margin-bottom:70px;
}
button{
    padding:12px 35px;
    border:2px solid transparent ;
    border-radius:50px;
    font-size:15px;
    font-family:var(--font-family-1);
    transition:0.3s;
   
}
.box-1 button {color:hsl(31, 77%, 52%)  ;}
.box-2  button{color:hsl(184, 100%, 22%); ;}
.box-3 button{color:hsl(179, 100%, 13%); }
button:hover{
    background-color:transparent ;
    border-color:white;
    color:white ;
   
}